<!-- //Name ->Drashya Patel
//Student ID -> 100863337
//Date: April 19th 2024 -->
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">LAB 4 INFT 2202</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- Empty space to push buttons to the right -->
        <li class="nav-item">
          <a class="nav-link">&nbsp;</a>
        </li>
      </ul>
      <!-- Add Animal and View All Animals buttons -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-primary custom-btn" href="/create-animal">Add Animal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-secondary custom-btn" href="/">View All Animals</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
